<div class="d-flex" id="content-wrapper" style="min-height: 3500px !important">
    <div id="sidebar-container" class="border-right sidebar-container">
      <app-sidebar></app-sidebar>
    </div>
    <div id="page-content-wrapper" class="w-100 bg-light-blue" style="background-color: #f0f0f0">
      
      <div class="container vh-100">
        <div class="row vh-100">
          <div style="margin-top: 10px;" class="col-lg-4 row-cards" *ngFor="let company of companies">
            <div class="card" style="text-align: center">
              <div style="text-align: center">
                <img class="card-img-top"/>
              </div>
  
              <div class="card-body">
                <h4 class="card-title">
                  <strong>{{company.name}}</strong>
                </h4>
                <p class="card-text">text</p>
              </div>
  
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      <h6>
                        <span class="badge badge-primary"><i class="fa-solid fa-tag fa-lg" style="color: #ffffff;margin-right:5px"></i>tag</span>
                      </h6>
                    </div>
                    <div class="col">
                      <h6>
                        <span class="badge badge-dark"><i class="fa-solid fa-calendar fa-lg" style="color: #ffffff;margin-right:5px"></i>Fecha creacion
                        </span>
                      </h6>
                    </div>
                    
                  </div>
                </li>
              </ul>
              <div class="card-body" style="text-align: center">
                <button type="button" class="btn btn-primary" style="margin: 10px;text-align:center" (click)="products(company.id, company.name)"
                  >
                  Ver productos
                </button>
              
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  