body {
    background-color:bisque
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}
.img-card{
    width: 16%;
    height: 87%;
}
.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center;
    
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

.btn-center{
display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 60px; 
    margin: auto;
}

.mt-5 .img{
    margin: auto;

}

.sidebar-container{
    background-color: rgb(181, 181, 181); 
    min-height: 100vh;
}
@media (min-width: 768px) {
#sidebar-container {
    margin-left: 0;
}
#content-wrapper.toggled #sidebar-container {
    margin-left: -18rem;
}
}