#sidebar-container {
    min-height: 100vh;
    margin-left: -18rem;
    -webkit-box-shadow: 5px 0px 5px 0px  rgb(14, 167, 255);
    -moz-box-shadow: 5px 0px 5px 0px  rgb(14, 167, 255);
    box-shadow: 5px 0px 5px 0px rgb(14, 167, 255);
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-container .logo{
    padding: 0.875rem 1.25rem;
  }
  
  #sidebar-container .menu {
    width: 18rem;
  }

  @media (min-width: 768px) {
    #sidebar-container {
      margin-left: 0;
    }
    #content-wrapper.toggled #sidebar-container {
      margin-left: -18rem;
    }
  }